apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: devops-challenge
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
  clusterIP: None
  type: ClusterIP
